 <div class="navbar">
  <a href="/" {% if page.url == "/" %}style="background-color: #065d0e;"{% else %} style="background-color: #333;" {% endif %}>Willkommen!</a>
  <a href="/work.html"{% if page.url == "/work.html" %}style="background-color: #065d0e;"{% else %} style="background-color: #333;" {% endif %}>Projekte</a>
  <div class="dropdown">
    <button class="dropbtn"{% if page.url == "/contact.html" %}style="background-color: #065d0e;"{%else %} style="background-color: #333;" {% endif %}>Über Uns
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Kontakt</a>
      <a href="/contact.html">Anfahrt</a>
      <a href="#">Impressum</a>
    </div>
  </div>
</div> 