<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">

	{% feed_meta %}
    {% seo %}
	
  </head>
  <body  style="background-color: #333">
<div>
</div>
	<div>
		<a href="/">
		<img src="{{site.baseurl}}/assets/img/logoBig.png" class="logo" >
		</a>
   {% include navigation.html %}
	</div>
	<div class="contentDivHome" >
	<div style="position:absolute;top: 100px;">
	<div id="basicMap"></div>
		{{ content }}
	</div>
	</div>
	<div class="footer">
  <p>Dennis König Garten- und Landschaftsbau <br>
  <a href="mailto:koenig-gartenbau.com">koenig-gartenbau@example.com</a></p>
</div>
  </body>
</html>


