<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">

	{% feed_meta %}
    {% seo %}
	<style type="text/css">
      #basicMap {
	  position:absolute;
	  left: 50px;
          width: 50%;
          height: 50%;
          margin: 0;
      }
    </style>
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script>
      function init() {
        map = new OpenLayers.Map("basicMap");
        var mapnik = new OpenLayers.Layer.OSM();
        map.addLayer(mapnik);
        map.setCenter(new OpenLayers.LonLat(10.137803 , 54.339409) // Center of the map
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            new OpenLayers.Projection("EPSG:900913") // to Spherical Mercator Projection
          ), 15 // Zoom level
        );
      }
    </script>
	

  </head>
  <body  style="background-color: #333" onload="init();">
<div class="dummyDiv">
</div>
	<div>
		<a href="/">
		<img src="{{site.baseurl}}/assets/img/logoBig.png" class="logo" >

   {% include navigation.html %}
	</div>
	<div class="contentDiv">
	<div id="basicMap"></div>
		{{ content }}
	</div>
	
	<div class="footer">
  <p>Dennis König Garten- und Landschaftsbau <br>
  <a href="mailto:koenig-gartenbau.com">koenig-gartenbau@example.com</a></p>
</div>
  </body>
</html>


